div.box{
	display: inline-block;
	background: #444444;
	box-shadow: inset 0 0 10px 8px black;
}
div.box>div{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px;
}
div.box>div.red{
	background: radial-gradient(#ff0000 20%, #aa0000);
}
div.box>div.yellow{
	background: radial-gradient(#ffff00 20%, #aaaa00);
}
div.box>div.green{
	background: radial-gradient(#00ff00 20%, #00aa00);
}